@layout TelerikLayout
@inherits LayoutComponentBase

@* More custom settings can be located there. E.g. dymamic lef menu provider, customize app header panel, etc.  *@
<DashboardDrawer>
    <Body>
        @Body
    </Body>
</DashboardDrawer>